<div class="footer container">
  <div class="social-container row">
    <div class="centered-content">
      <a href="www.google.com" target="_blank">
        <img src="../assets/index/instagram.svg" alt="Instagram">
      </a>
      <a href="www.google.com" target="_blank">
        <img src="../assets/index/facebook.svg" alt="Facebook">
      </a>
      <a href="www.google.com" class="last" target="_blank">
        <img src="../assets/index/twitter.svg" alt="Twitter">
      </a>
    </div>
  </div>
  <div class="content-container row">
    <div class="d-none d-xl-block d-lg-block d-md-block col-xl-4 col-lg-4 col-md-4">
      <a href="www.google.com" target="_blank">Glosario</a>
      <a href="www.google.com" target="_blank">Acerca de Piix</a>
    </div>
    <div class="d-none d-xl-block d-lg-block d-md-block col-xl-4 col-lg-4 col-md-4">
      <a href="www.google.com" target="_blank">Piix para Empresas</a>
      <a href="www.google.com" target="_blank">Preguntas Frecuentes</a>
    </div>
    <div class="d-none d-xl-block d-lg-block d-md-block col-xl-4 col-lg-4 col-md-4">
      <a href="www.google.com" target="_blank">Aviso de Privacidad</a>
      <a href="www.google.com" target="_blank">Términos y Condiciones</a>
    </div>
    <div class="d-md-none col-sm-7 col-7 first-links-container">
      <a href="www.google.com" target="_blank">Glosario</a>
      <a href="www.google.com" target="_blank">Acerca de Piix</a>
      <a href="www.google.com" target="_blank">Términos y Condiciones</a>
    </div>
    <div class="d-md-none col-sm-5 col-5">
      <a href="www.google.com" target="_blank">Piix para Empresas</a>
      <a href="www.google.com" target="_blank">Preguntas Frecuentes</a>
      <a href="www.google.com" target="_blank">Aviso de Privacidad</a>
    </div>
  </div>
  <div class="copyright-container row">
    <label>Copyright de Piix, contenido del footer, 8 de octubre del 2018. Todos los derechos reservados.</label>
  </div>
</div>