<div class="coverages-modal">
  <div class="cross-container">
    <img src="../assets/index/cross.svg" (click)="onNoClick()">
  </div>
  <div class="main-container">
  <div id="coveragesCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
    <ol class="carousel-indicators">
      <li data-target="#coveragesCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#coveragesCarousel" data-slide-to="7"></li>
      <li data-target="#coveragesCarousel" data-slide-to="12"></li>
      <li data-target="#coveragesCarousel" data-slide-to="16"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item" [class.active]="i == 0" *ngFor="let coverage of coverages; let i = index">
        <h2>{{coverage.category}}</h2>
        <div class="img-container">
          <img src="{{coverage.imageUrl}}" alt="{{coverage.name}}">
        </div>
        <label>{{coverage.name}}</label>
        <p>{{coverage.description}}</p>
      </div>
    </div>
    <a class="carousel-control-prev" href="#coveragesCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#coveragesCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Siguiente</span>
    </a>
  </div>
</div>